<section class="hero" 
         style="background: linear-gradient(rgba(10,37,64,0.6), rgba(10,37,64,0.6)), url('assets/rooftop.jpg');
                background-size: cover;
                background-position: center;
                height: 90vh;">
  <div class="hero-content">
    <h1>Bienvenido a <span>Altavista Rooftop</span></h1>
    <p>Disfruta de una experiencia inolvidable entre sabores, música y vistas espectaculares.</p>
    <a routerLink="/reservar" class="btn">Reserva Ahora</a>
  </div>
</section>
