<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">Altavista Rooftop</a>
    </div>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/services-page" routerLinkActive="active">Servicios</a>
      <a routerLink="/about-us-page" routerLinkActive="active">Sobre Nosotros</a>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>

      <a href="#" (click)="loginModal.open()" class="admin-link">👩‍💻 Admin</a>
    </nav>
  </div>
</header>

<app-login #loginModal></app-login>
